@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

* {
    font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    color: inherit; 
    font-size: inherit;
    width:100%;
    overflow-x: hidden;
    
    
}
  
body
 {
    background-color:#23272a;
    color:white;
    margin:0;
    width:100%;
}





a:hover{
    color:#3681ff;
    transition-duration: 0.2s;
}


.create-room-btn{
    color:#2c2f33;
    background-color:white;
    border-radius:5px;
    padding:6px;
    border:none;
    text-align: center;
    transition-duration: 0.4s;
    
}

.create-room-btn:hover {
    color:white;
    background-color:#3681ff;
}

.room-count h5 {
    padding:15px;    
}

.new_post_form {
    margin:auto;
    width:50%;
    padding-top: 10rem;
    border-style: none;
    color:black;
}
.new_post_form input[name="submit-btn"] {
    color: #ffffff;
    background-color: #3681ff;
    padding:5px;
    width:5rem;
    border-radius: 5px;
}

.new_post_form input[name="submit-btn"]:hover {
    color: #23272a;
    background-color: #ffffff;
}

.new_post_form input{
    color: #23272a !important ; 
    border-style: none;
}

.new_post_form label {
    color:white;
}

.user-name {
    position: absolute;
    margin:0 auto;
}

.feed {
    min-width: min-content;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 4.5em;
    margin-bottom: 2.4rem;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.feed::-webkit-scrollbar {
    display: none;
  }


.each-room {
    background-color: #2c2f33;
    padding:12px;
    border-radius:6px;
}

.activity-components {
    /*background-color: #2c2f33;*/
    padding:12px;
    border-radius:6px;
    margin-top: 1em;
    border:1px white;
    border-style:groove;
}


.topics {
    background: #2c2f33;
    width: clamp(min(5vw, 10rem), 225px, max(90vw, 55rem));
    margin-left: auto;
    margin-right: 0;
    padding:10px;
    border-radius: 10px;
    margin-top: 7em; 
    
}

.activity {
    background-color: #2c2f33;
    width: clamp(min(10vw, 20rem), 400px, max(90vw, 55rem));
    margin-left: 0;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 6em;
    /*max-height:min-content;*/
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.activity::-webkit-scrollbar {
    display: none;
  }



.navbar {
    background: #2c2f33;
    padding: 10px;
    width:100%;
    height:70px;
    overflow-x: hidden;
    
}


a {
    text-decoration: none;
    
}


.navbar input[type=text] {
    color:black;
    width:clamp(300px, 20%, 650px);
    padding: 5px 11px;
    border-radius: 8px;
    position: absolute;
    left:42%;
    top:1em;
    background-color: darkgray;
    outline:none;
}


.navbar input[type=text]:focus {
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
    border-radius: 5px;
}

.navbar input[type=text]:hover {
    border: 1px solid white;
}

.comment-form input[type=text] {
    color:black;
}

.comment-wrapper{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.comment-form {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.comment-form, .comment-wrapper {
    margin: auto;
    width: 50%;
    background-color:#23272a;
    padding:20px;
}

.participants-wrapper {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width:max-content;

}

input[name=body] {
    border-radius: 5px;
    padding:5px;
}

.message-wrapper {
    padding: 20px;
    background-color: #2c2f33;
    border-radius: 10px;
}


.title {
    position: absolute;
    left:36%;
    top:1.4em;
    
}

.login {
    position: absolute;
    left:90%;
    top:1.4em;
    
}

.rooms-available {
    position:absolute;
    top:5em;
    left:34.3%;
    height: 100px;
    
    
}

.rooms-available h5 {
    position:relative;
    top:2.1em;
    left:9.5em;
}

@media screen and (max-width: 900px) {
.activity,
.topics {
    display: none;
}

.navbar input[type=text] {
    width:20%;
    position:absolute;
    left:50%;
    
}

.feed {
    width:100%;
}


* {
    overflow: visible;
}

.rooms-available{
    position:absolute;
    left:5.5em;
    top:3em;
    width:160px;
}
}


.topic-name {
    width:fit-content;
    background-color: #3681ff;
    padding:4px;
    border-radius: 7px;
    position:relative;
    top:-0.6em;
}